############################################
## Configuration file Tweets to db Daemon ##
############################################

## 1 )
## Url of database webservice to store tweets:
urldatabase = http://localhost:8000

## 2 ) Port used to setup daemon API
socket_port = 8081

## 3 ) Max connection allowed at same time
max_connection = 5

## 4 ) Tweets collector app
collector_app = t2db_worker
